.video-container {
    width: 100%;
    height: 300px;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  video, img {
    border: 2px solid #333;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  canvas {
    display: none;
  }
  
  button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button.bg-blue-800 {
    background-color: #007BFF;
  }
  
  button.bg-blue-800:hover {
    background-color: #0056b3;
  }
  
  button.bg-red-800 {
    background-color: #dc2626;
  }
  
  button.bg-red-800:hover {
    background-color: #b91c1c;
  }
  
  @media (max-width: 640px) {
    .video-container {
      height: 250px;
    }
  
    button {
      padding: 6px 12px;
      font-size: 12px;
    }
  }